body {
    font-family: Arial, sans-serif;
}

p {
    background-color: #ccc;
}

.task-bold {
    font-weight: 700;
}

.task-size {
    font-size: 20px;
}

.task-center {}

.task-monospace {}

.task-color {}

.task-complex {}

.task-times-new-roman {}

.task-large-blue {}

.task-justify {}

.task-normal {}