#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#brown {
    color: brown;
}

#darkblue {
    color: darkblue;
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
}

img {
    width: 150px;
    height: 50px;
}